<html>
<title> NBA Tip-Off </title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='tipoff.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
   
<!--Navigation Bar-->
  <div class="logo">
    <h1> NBA TIP-OFF </h1>
  </div>
   <span id="close"> </span>
  <span id="menu"> <img style="width: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR11WXR-a18XfNZknL7S4lu0lLyC4aWZPY4sLd4wNHUNv9So2gd" alt="MENU"> </span>
  <nav>
    <ul>
      <li> <a href="/"> HOME </a> </li>
      <li> <a href="/player"> PLAYERS </a> </li>
      <li> <a href="/teams"> TEAMS </a> </li>
      <li> <a href="/compare"> COMPARE </a> </li>
    </ul>
  </nav>
<!--Navigation Bar-->
<header>
  <h1>NBA Player Compare</h1>
  <ul class="grid cards">
    {% for result in user_search %}
    <li><h2>{{result['player']}}</h2>
      <p>Position: {{result['pos']}}<br></br>
        Age: {{result['age']}} <br></br>
        Team:  {{result['tm']}}<br></br>
        FG%: {{result['fg']}} <br></br>
        3P%: {{result['threep']}} <br></br>
        2P%:  {{result['twop']}}<br></br>
        FT%: {{result['ft']}} <br></br>
        AST: {{result['ast']}} <br></br>
        STL: {{result['stl']}}<br></br>
        BLK: {{result['blk']}} <br></br>
        Pts:  {{result['pts']}}<br></br>
      </p></li>
      {% endfor %}

      {% for result in no_data %}
    <li><h2>{{result['player']}}</h2>
      <p>Position: NA<br></br>
        Age: NA <br></br>
        Team: NA<br></br>
        FG%: NA <br></br>
        3P%: NA<br></br>
        2P%:  NA<br></br>
        FT%: NA <br></br>
        AST: NA <br></br>
        STL: NA<br></br>
        BLK: NA <br></br>
        Pts:  NA<br></br>
      </p></li>
      {% endfor %}

</header>
</body>
<script src={{ url_for('static', filename='jquery.js') }} type="text/javascript"></script>
<script src={{ url_for('static', filename='tipoffstyle.js') }}></script>
</html>