<html>

<style>
  table {
    width: 100%;
  }

  th, td {
    text-align: center;
  }
</style>

<title> NBA Tip-Off </title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='tipoff.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
   
<!--Navigation Bar-->
  <div class="logo">
    <h1> NBA TIP-OFF </h1>
  </div>
   <span id="close"> </span>
  <span id="menu"> <img style="width: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR11WXR-a18XfNZknL7S4lu0lLyC4aWZPY4sLd4wNHUNv9So2gd" alt="MENU"> </span>
  <nav>
    <ul>
      <li> <a href="/"> HOME </a> </li>
      <li> <a href="/player"> PLAYERS </a> </li>
      <li> <a href="/teams"> TEAMS </a> </li>
      <li> <a href="/compare"> COMPARE </a> </li>
    </ul>
  </nav>
<!--Navigation Bar-->
<header>
<div class="container">
    <div class="row">
      
  
      <div class="ptable">
      <h1>NBA Players</h1>
      </div>
      
      
      
     <div class="form">
      <form action = "http://127.0.0.1:5000/player" method="GET" class= "form-data"> 
        <label for="display_first_last">
          Player Name
          <input id="playerName" type ="text" name="display_first_last" value = "{{player_name_contains}}">
        </label>
        <label for="position">
          Position
          <input id="position" type = "text" name = "position" value = "{{position_contains}}">
        </label>
        <label for="team_name">
          Team
          <input id="team" type = "text" name = "team_name" value = "{{team_contains}}">
        </label>
        <label for ="jersey">
          Jersey Number
          <input id =  "jersey" type = "number" name="jersey" value = "{{jersey}}">
        </label>
        <label>
          <input type="submit" value="Search">
        </label>
      </form>
     </div>
      
      
  
      
  <table  class="player_table">
    <thead>
      <tr>
        <th scope="col" target="id">Compare (Limit 3)<i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
        <th scope="col" target="name"> Name <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></i></th>
        <th scope="col" target="poistion">Position <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
        <th scope="col" target="team">Team <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
        <th scope="col" target="number">Jersey Number <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
      </tr>
    </thead>
    <tbody id="results">
      {% for result in user_search %}
        <tr>
          <td><input class = "check" type="checkbox" name="check1" onclick="selected()"/> &nbsp;</td>
          <td>{{result.display_first_last}}</td>
          <td>{{result.position}}</td>
          <td>{{result.team_name}}</td>
          <td>{{result.jersey}}</td>
        </tr>
     {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <label>
            Page Number
            <select name="pagenumber" onchange="location = this.value;">
              <option value = "{{page_number}}" selected>{{page_number}}</option>
              {% for page in range(total_pages)  %}
                <option value = "player?display_first_last={{player_name_contains}}&position={{position_contains}}&team_name={{team_contains}}&jersey={{jersey}}&pagenumber={{page+1}}">{{page+1}}</option>
              {% endfor %}
            </select>
          </label>
        </td>
        
        <td><button onclick = "location.href = '/compare';" id = "compared">COMPARE</button></td>
      </tr>
    </tfoot>
    
  </table>
    </div>
  </div>
</body>
</header>

</body>
<script src={{ url_for('static', filename='jquery.js') }} type="text/javascript"></script>
<script src={{ url_for('static', filename='playertable.js') }}></script>
</html>