<html>

<style>
  table {
    width: 100%;
  }

  th, td {
    text-align: center;
  }
</style>

<title> NBA Tip-Off </title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='tipoff.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
   
<!--Navigation Bar-->
  <div class="logo">
    <h1> NBA TIP-OFF </h1>
  </div>
   <span id="close"> </span>
  <span id="menu"> <img style="width: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR11WXR-a18XfNZknL7S4lu0lLyC4aWZPY4sLd4wNHUNv9So2gd" alt="MENU"> </span>
  <nav>
    <ul>
      <li> <a href="/"> HOME </a> </li>
      <li> <a href="/player"> PLAYERS </a> </li>
      <li> <a href="/teams"> TEAMS </a> </li>
      <li> <a href="/compare"> COMPARE </a> </li>
    </ul>
  </nav>
<!--Navigation Bar-->

<header>
  <div class="container">
      <div class="row">
        
    
        <div class="ptable">
        <h1>NBA Players</h1>
        </div>
        
        
        <div class="form">
          <form action = "http://127.0.0.1:5000/teams" method="GET" class= "form-data"> 
            <label for="season_year">
              Season Year
              <input id="season_year" type ="text" name="season_year" value = "{{season_year_contains}}">
            </label>
            <label for="team_name">
              Team
              <input id="team" type = "text" name = "team_name" value = "{{team_contains}}">
            </label>
            <label for="team_conference">
              Team Conference
              <input id="team_conference" type = "text" name = "team_conference" value = "{{team_conference_contains}}">
            </label>
            <label for="team_division">
              Team Division
              <input id="team_division" type = "text" name = "team_division" value = "{{team_division_contains}}">
            </label>
            <label>
              <input type="submit" value="Search">
            </label>
          </form>
         </div>
          
          
      
          
      <table  class="player_table">
        <thead>
          <tr>
            <th scope="col" target="id">Compare</th>
            <th scope="col" target="name"> Season Year</th>
            <th scope="col" target="team">Team Name</th>
            <th scope="col" target="team">Team Conference</th>
            <th scope="col" target="team">Team Division</th>
            <th scope="col" target="team">
              <a href="/teams?season_year={{season_year_contains}}&team_name={{team_contains}}&team_conference={{team_conference_contains}}&team_division={{team_division_contains}}&sort_dir={{get_sort_dir()}}&pagenumber={{page_number}}">Conference Rank</a>
              {% if get_sort_dir() == 'asc' %}
               ↑
              {% else %}
               ↓
              {% endif %}
            </th>
            <th scope="col" target="team">Division Rank</th>
            <th scope="col" target="team">Points Rank</th>
            <th scope="col" target="team">Rebound Rank</th>
            <th scope="col" target="team">Assist Rank</th>
          </tr>
        </thead>
        <tbody id="results">
          {% for result in user_search %}
            <tr>
              <td><input type="checkbox" name="name1" />&nbsp;</td>
              <td>{{result.season_year}}</td>
              <td>{{result.team_name}}</td>
              <td>{{result.team_conference}}</td>
              <td>{{result.team_division}}</td>
              <td>{{result.conf_rank}}</td>
              <td>{{result.div_rank}}</td>
              <td>{{result.pts_rank}}</td>
              <td>{{result.reb_rank}}</td>
              <td>{{result.ast_rank}}</td>
            </tr>
         {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>
              <label>
                Page Number
                <select name="pagenumber" onchange="location = this.value;">
                  <option value = "{{page_number}}" selected>{{page_number}}</option>
                  {% for page in range(total_pages)  %}
                    <option value = "teams?season_year={{season_year_contains}}&team_name={{team_contains}}&team_conference={{team_conference}}&team_division={{team_division}}&pagenumber={{page+1}}">{{page+1}}</option>
                  {% endfor %}
                </select>
              </label>
            </td>
          </tr>
        </tfoot>
        
      </table>
        </div>
      </div>
    
       
  </body>
  </header>
  
  </body>
  <script src={{ url_for('static', filename='jquery.js') }} type="text/javascript"></script>
  <script src={{ url_for('static', filename='teamtable.js') }}></script>
  </html>